<div
  class="mx-auto w-96 bg-cyan-400 shadow-lg rounded-xl mt-20 flex flex-row flex-wrap justify-items-center"
>
  <input
    [(ngModel)]="cityName"
    type="text"
    class="w-80 mx-auto my-1 rounded-md border border-gray-500"
  />
  <div class="w-full text-center">
    <button
      (click)="fetchWeatherData(cityName)"
      class="bg-cyan-600 p-2 m-1 rounded-md text-white font-semibold hover:bg-cyan-900"
    >
      Search
    </button>
  </div>
</div>

<div class="mx-auto w-96 bg-cyan-400 min-h-96 shadow-lg rounded-xl mt-20">
  <div id="top-data" class="relative w-full h-40">
    <img
      class="rounded-t-xl h-full w-full object-cover object-top absolute"
      src="https://images.pond5.com/hot-red-sky-get-dark-footage-011527279_iconl.jpeg  "
    />
    <div
      class="absolute text-center w-full font-semibold text-5xl mt-6 text-slate-200"
    >
      <p class="text-2xl">{{ weatherData?.location?.name }}</p>
      <p>{{ weatherData?.current?.temp_c }} °C</p>
      <p class="text-2xl">{{ weatherData?.current?.condition?.text }}</p>
    </div>
  </div>
  <div id="bottom-data">
    <div
      class="grid grid-cols-2 text-center text-lg font-semibold text-slate-800 gap-y-20 mt-6"
    >
      <p>Feels like: {{ weatherData?.current?.feelslike_c }} °C</p>
      <p>Humidity: {{ weatherData?.current?.humidity }} %</p>
      <p>Wind: {{ weatherData?.current?.wind_kph }} km/h</p>
      <p>Precipitation: {{ weatherData?.current?.precip_mm }} mm</p>
    </div>
  </div>
</div>
